.Footer{
  padding: 4rem 0;
  margin: 2rem 0;
  border-top: 2px solid black;
  border-bottom: 2px solid blue;

}


 .footer-col2 li{
  padding: 0.5rem 0;
 }
 .footer-col3 li{
  padding: 0.5rem 0;
 }
 .ft_h5{
  font-weight: 600;
  padding-bottom: 1rem;
 }
 .footer-col4 .iconss{
  padding: 0 0.5rem;
  color: var(--accent-color-dark);
 }
  .fb-icon{
  padding: 0.5rem 0.7rem;
  background: var(--accent-color);
  color: var(--accent-color-dark);
  border-radius: 4px;
  margin-right: 0.7rem;
 }
 .fb-icon:hover{
  cursor: pointer;
  background: blue;
  color: white;
  transform: scale(1.08);
  transition: 0.3s ease-in-out;
 }